VISUAL_COLLECTION=visual
ASR_COLLECTION=asr
OCR_COLLECTION=ocr
MILVUS_URI=/workspace/vbs_retrieval_system/Backend/data/database/vnemb_sig2base_ocr_fin.db
EMBEDDING_PATH=/workspace/vbs_retrieval_system/Backend/data/features_siglip2base
MODEL_CKPT=google/siglip2-base-patch16-224
ASR_MODEL_CKPT=AITeamVN/Vietnamese_Embedding